<% form_for @expense do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </p>
  <p>
    <%= f.label :expense_id %><br />
    <%= f.text_field :expense_id %>
  </p>
  <p>
    <%= f.label :vendor_id %><br />
    <%= f.text_field :vendor_id %>
  </p>
  <p>
    <%= f.label :payment_date %><br />
    <%= f.datetime_select :payment_date %>
  </p>
  <p><%= f.submit %></p>
<% end %>
