<% title "Expenses" %>

<%= will_paginate(@expenses) %>
<table>
  <tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Expense</th>
    <th>Vendor</th>
    <th>Payment Date</th>
  </tr>
  <% for expense in @expenses %>
    <tr>
      <td><%=h expense.amount %></td>
      <td><%=h expense.category.name %></td>
      <td><%=h expense.obj_expense.name %></td>
      <td><%=h expense.vendor.name %></td>
      <td><%=h expense.payment_date %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate(@expenses) %>

<p><%= link_to "New Expense", new_expense_path %></p>
